*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body{
	color: #000;
	font-family: Arial, Tahoma;
	font-size: 15px;
	background: #eee;
}



.container{
	width: 768px;
	background: #fff;
	padding: 50px;
	margin: 50px auto;
}

h1{
margin: 0px 0px 15px 0px;	
padding: 0px 0px 5px 0px;
border-bottom: 1px solid #ddd;
}

input.form_file {
    margin-right: 50px;
    border-right: 1px solid #ddd;
    padding-right: 50px;
}


.form{
	margin-top: 50px;
}

.form input{
	cursor: pointer;
}

.err {
    color: #525252;
    background: #FFDCDC;
    padding: 10px;
    border: 1px solid #FFC8C8;
    border-radius: 2px;
	margin-bottom: 10px;
	font-size: 12px;
}
.note {
    background: #FFE6B8;
    border: 1px solid #FFCA69;
    font-size: 12px;
    padding: 10px;
    margin-bottom: 10px;
	border-radius: 2px;
}
.err p {
    margin: 10px 0px 0px;
}
.err ul, .note ul {
    margin: 0px;
}

.err > ul > li{
	margin-bottom: 5px;
}

.random_item table {
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
}

.random_item table tr td{
	font-size: 14px;
	padding: 10px;	
}

.random_item table tr:nth-child(even){
	background: #f6f6f6;
}

.random_item table thead tr th {
    text-align: left;
    background: #D8D8D8;
    padding: 10px;
}

.random_item table tr td:first-child, .random_item table tr th:first-child {
    border-right: 1px solid #ddd;
}
.random_item table tbody tr{
	border-bottom: 1px solid #ddd;
}

.container h3 {
    margin: 0px 0px 10px;
}

.random_item {
    margin-bottom: 50px;
}


a.back {
    float: right;
    color: #126AB7;
    display: block;
    padding: 2px 10px;
    text-decoration: none;
    border-bottom: 1px solid #126AB7;
    background: #f6f6f6;
}